ion-header{
    --ion-background-color: #FFBE71;
    text-align: center;
    ion-title{
        display: flex;
        justify-content: center;
        font-family: serif ;
        font-size: 20px;
        font-weight: bold;
        color: black;
    }
    ion-icon {
        font-size: 32px;
        margin-right: 10px;
      }

}
::ng-deep .my-custom-class{
    text-align: center;
    font-weight: bold;
    --background:  #FFBE71;
  }
