<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaulthref="home" text="">

      </ion-back-button>
    </ion-buttons>
    <ion-title>Eventos de la ciudad</ion-title>
    <ion-icon slot ="end" (click)="openCalendar()" name="calendar-outline"></ion-icon>
    <ion-icon slot ="end" (click)="displaySelectionList()" name="cog-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>  
    <app-event *ngFor="let event of eventsSliced" [evento]="event"></app-event>
    <ion-infinite-scroll threshold="150px" (ionInfinite)="loadMoreData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="crescent"
        loadingText="Cargando más eventos...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
