<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaulthref="login" text="">
  
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="header">
    <ion-img class="logo" src="/assets/images/Logo-grande.png" alt="image">
    </ion-img>
    <ion-card-subtitle class="title">
     Solicita una nueva contraseña
    </ion-card-subtitle>
  </ion-card>    
 <ion-card class="user-input">
   <ion-card-content>
     <form [formGroup]="sendNewPassword" (ngSubmit)="onResetPassword(sendNewPassword.value)">
        <div class="wrap-together">
          <div class="wrap-from">
            <ion-item>
              <ion-icon name="mail-outline"></ion-icon>
              <ion-input class="input" placeholder="Introduce tu correo electrónico" type="text" name="email" formControlName="email"></ion-input>
            </ion-item>
            <div class="sign-button-wrap">
              <ion-button class="sign-button" type="submit" shape="round" fill="solid" class="sign-button" [disabled]="!sendNewPassword.valid">
                Solicitar contraseña
              </ion-button>
            </div>
          </div>
        </div>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>