ion-header{
    position: absolute;
    justify-content: center;
    ion-toolbar{
        --ion-background-color: transparent;
        --opacity:0;
    }
}

ion-content{
    --ion-background-color: #FFBE71;
    .header{
        box-shadow: none !important;
        margin-top: auto;
        .logo{
            width: 100%;
        }
        .title{
            text-align: center;
            font-family: serif ;
            font-size: 15px;
            font-weight: bold;
            color: black;
        }
    }
    .user-input{
        box-shadow: none !important;
        .wrap-together{
            justify-content: center;
            display: flex;
                ion-item{
                    .input{
                        color:black ;
                        margin-left: 10px;
                    }
                }
                .sign-button-wrap{
                    text-align: center;
                    padding-top: 5px;
                    .sign-button{
                        max-width:400px;
                        width: 80%;
                        --ion-primary-color: #EDEDED;
                        color:black
                    }
                }
            
        }
    }
}