ion-header{
    position: absolute;
    justify-content: center;
    ion-toolbar{
        --ion-background-color: transparent;
        --opacity:0;
    }
}
ion-content{
    --ion-background-color: #FFBE71;
    .header{
        box-shadow: none !important;
        margin-top: auto;
        .logo{
            width: 100%;
        }
        .title{
            display: flex;
            justify-content: center;
            font-family: serif ;
            font-size: 30px;
            font-weight: bold;
            color: black;
        }
    }
    .user-input{
        box-shadow: none !important;
        .wrap-together{
            justify-content: center;
            display: flex;
            .wrapfrom{
                ion-item{
                    ion-input{
                        color:black ;
                        margin-left: 10px;
                    }
                }
                .login-error{
                    display: flex;
                }
                .login-error-icon{
                    color:red;
                    margin-right: 5px;
                }
                .error_message{
                   color: red;
                   font-size: 12px;

                }
            }
        }
        .forgot-password{
          text-align: right;
          ion-button{
          font-size:12px ;
          color:#71b1ff;
          }
        }
        .sign-button-wrap{
            text-align: center;
            padding-top: 5px;
            .sign-button{
                max-width:400px;
                width: 80%;
                --ion-primary-color: #EDEDED;
                color:black
            }
        }
        .social-btns{
            margin-top: 30px;
            text-align: center;
            .text-tag{
                span{
                    font-size: 13px;
                    font-weight: normal;
                }
            }
            ion-button{
                width: 40px;
                padding-left: 5px !important;
            }
        }
        .register-text{
            margin-top: 30px;
            text-align: center;
            ion-button{
                padding-bottom: 11px;
            }
        }
    }
}
