<ion-header class="ion-no-border">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card class="header">
      <ion-img class="logo" src="/assets/images/Logo-grande.png" alt="image">
      </ion-img>
      <ion-card-subtitle class="title">
       Hollytime
      </ion-card-subtitle>
    </ion-card>
    <ion-card class="user-input">
      <ion-card-content>
        <form [formGroup]="validationFormUser" (ngSubmit)="loginUser(validationFormUser.value)">
          <div class="wrap-together">
            <div class="wrapfrom">

              <ion-item>
                <ion-icon name="mail-outline"></ion-icon>
                <ion-input placeholder="Correo electrónico" type="text" name="email" formControlName="email"></ion-input>
              </ion-item>
              <div>
                <ng-container *ngFor="let validation of validationUserMessage.email">
                  <div class="error_message" *ngIf="(validationFormUser.get('email').hasError(validation.type) && (validationFormUser.get('email').dirty))">
                    {{validation.message}}
                  </div>
                </ng-container>
              </div>
              
              <div *ngIf="!emailExists" class="login-error">
                <ng-container >
                  <ion-icon class="login-error-icon" name="alert-circle-outline"></ion-icon>
                  <div class="error_message">
                    El correo o la contraseña no son correctos
                  </div>
                </ng-container>
              </div>

              <ion-item>
                <ion-icon name="lock-closed-outline"></ion-icon>
                <ion-input placeholder="********"  type="password" name="password" formControlName="password"></ion-input>
              </ion-item>  
              <div>
                <ng-container *ngFor="let validation of validationUserMessage.password">
                  <div class="error_message" *ngIf="(validationFormUser.get('password').hasError(validation.type) && (validationFormUser.get('password').dirty))">
                    {{validation.message}}
                  </div>
                </ng-container>
              </div>

              <div class="forgot-password">
                <ion-button (click)="onForgotPasswordButton()" fill="clear">
                  Contraseña olvidada
                </ion-button>
              </div>

            </div>
          </div>
          <div class="sign-button-wrap">
            <ion-button type="submit" shape="round" fill="solid" class="sign-button" [disabled]="!validationFormUser.valid">
              Entrar
            </ion-button>
          </div>
          <div class="social-btns">
            <div class="text-tag">
              <ion-text>O a través de</ion-text>
            </div>
            <ion-button (click)="onFacebookButton()" fill="clear" class="facebookbtn ion-no-padding">
              <ion-img src="/assets/icon/facebook.png"></ion-img>
            </ion-button>
            <ion-button (click)="onGoogleButton()" fill="clear" class="googlebtn ion-no-padding">
              <ion-img src="/assets/icon/google.png"></ion-img>
            </ion-button>
            <!-- <ion-button (click)="onAppleButton()" fill="clear" class="facebookbtn ion-no-padding">
              <ion-img src="/assets/icon/apple.png"></ion-img>
            </ion-button> -->
          </div>
          <div class="register-text">
            <ion-text>¿No tienes una cuenta? 
              <ion-button class="register-button" fill="clear" (click)="onRegisterButton()">
                Registrate 
              </ion-button> 
            </ion-text>
          </div>
        </form>
      </ion-card-content>
    </ion-card>
  </ion-content>
