<ion-header>
  <ion-toolbar>
    <ion-title>
      <div *ngIf="user$ | async as user">
        <h2>Hello {{ user.email }}!</h2>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header class="header-wrap">
      <div *ngIf="user$ | async as user">
        <ion-card-subtitle>Bienvenido {{user.displayName}}</ion-card-subtitle>
      </div>
    </ion-card-header>
      <ion-item-divider class="divider">
      </ion-item-divider>
    <ion-card-content>
      <ion-button class="animate__animated animate__fadeInUp" fill="solid" [ngStyle]="{'--background'  : getBackGroundColor('ruta')}">
        <div class=“custom-button-content”>
          <ion-icon slot="" name="rocket"></ion-icon>
          <ion-label>Nueva ruta</ion-label>
        </div>
      </ion-button>
      <ion-button class="animate__animated animate__fadeInUp" (click)="onMapClick()" fill="solid" [ngStyle]="{'--background'  : getBackGroundColor('mapa')}">
        <div class=“custom-button-content”>
          <ion-icon slot="" name="map"></ion-icon>
          <ion-label> Mapa</ion-label>
        </div>
       
      </ion-button>        
      
      <ion-button class="animate__animated animate__fadeInUp" fill="solid"[ngStyle]="{'--background'  : getBackGroundColor('misrutas')}">
        <div class=“custom-button-content”>
          <ion-icon slot="" name="golf"></ion-icon>
          <ion-label> Mis rutas</ion-label>
        </div>
       
      </ion-button>

      <ion-button class="animate__animated animate__fadeInUp" (click)="onEventsClick()" fill="solid" [ngStyle]="{'--background'  : getBackGroundColor('eventos')}">
        <div class=“custom-button-content”>
          <ion-icon slot="" name="star" ></ion-icon>
          <ion-label>Eventos</ion-label>        
        </div>
      </ion-button>
      <ion-button class="animate__animated animate__fadeInUp" (click)="onWeatherClick()" fill="solid" [ngStyle]="{'--background'  : getBackGroundColor('tiempo')}">
        <div class=“custom-button-content”>
          <ion-icon name="sunny-outline"></ion-icon>
          <ion-label>Tiempo</ion-label>        
        </div>
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

      <!-- <ion-grid class="button-wrap">
        <ion-row>
          <ion-col>
            <ion-button shape="round" fill="solid">
              Nueva ruta
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button (click)="onMapClick()" shape="round" fill="solid">
              Mapa
            </ion-button>
          </ion-col>
        </ion-row>      
        <ion-row>
          <ion-col>
            <ion-button shape="round" fill="solid">
              Mis rutas
            </ion-button>
          </ion-col>
        </ion-row>    
        <ion-row>
          <ion-col>
            <ion-button (click)="onEventsClick()" shape="round" fill="solid">
              Eventos
            </ion-button>
          </ion-col>
        </ion-row>   
      </ion-grid> -->