<ion-header>
  <ion-toolbar>
    <ion-title>Otras preferencias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class=" animate__animated animate__fadeInUp">
    <ion-card-header>
      <ion-card-title>Selecciona el resto de preferencias</ion-card-title>
      <ion-card-subtitle>Personaliza tu ruta a tu medida</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-icon slot="start" name="accessibility"></ion-icon>
          <ion-label>Ruta accesible</ion-label>
          <ion-toggle [enableOnOffLabels]="true" slot="end" (click)="onAccessChange()"></ion-toggle>
          <ion-button fill="clear" id="click-access">
            <ion-icon name="information-circle"></ion-icon>
          </ion-button>
        </ion-item>
 
        <ion-item>
          <ion-icon slot="start" name="fast-food"></ion-icon>
          <ion-label>Comer en la ruta</ion-label>
          <ion-toggle [enableOnOffLabels]="true" slot="end" (click)="onFoodChange()"></ion-toggle>
          <ion-button fill="clear" id="click-eat">
            <ion-icon name="information-circle"></ion-icon>
          </ion-button>
        </ion-item>
        <div *ngIf="foodSelected" class="buttons-wrap">
          <ion-text>
            La ruta incluirá una parada en una de los restaurantes del tipo elegido
          </ion-text>
          <ion-item lines="none" (click)="foodStyleSelected('tapas')">
            <ion-checkbox slot="start"></ion-checkbox>
            <ion-label>Tapas</ion-label>
          </ion-item>
          <ion-item lines="none" (click)="foodStyleSelected('tradicional')">
            <ion-checkbox slot="start"></ion-checkbox>
            <ion-label>Tradicional</ion-label>
          </ion-item>
          <ion-item lines="none" (click)="foodStyleSelected('americana')">
            <ion-checkbox slot="start"></ion-checkbox>
            <ion-label>Americana</ion-label>
          </ion-item>
          <ion-item lines="none" (click)="foodStyleSelected('japonesa')">
            <ion-checkbox slot="start"></ion-checkbox>
            <ion-label>Japonesa</ion-label>
          </ion-item>
          <ion-item lines="none" (click)="foodStyleSelected('mexicana')">
            <ion-checkbox slot="start"></ion-checkbox>
            <ion-label>Mexicana</ion-label>
          </ion-item>
          <ion-item lines="none" (click)="foodStyleSelected('vegetariano')"> 
            <ion-checkbox slot="start"></ion-checkbox>
            <ion-label>Vegetariano</ion-label>
          </ion-item>
          <ion-item lines="none" (click)="foodStyleSelected('rapida')">
            <ion-checkbox slot="start"></ion-checkbox>
            <ion-label>Comida Rápida</ion-label>
          </ion-item>
          <div class="food-time-wrap">
            <ion-text>
              Elige la hora a partir de la cual deseas comer.
            </ion-text>
            <ion-datetime-button 
            datetime="datetime"
            color="success">
            </ion-datetime-button>
          </div>
        </div>
        <ion-item>
          <ion-icon slot="start" name="diamond"></ion-icon>
          <ion-label>Ver eventos</ion-label>
          <ion-toggle [enableOnOffLabels]="true" slot="end" (click)="onEventChange()"></ion-toggle>
          <ion-button fill="clear" id="click-event">
            <ion-icon name="information-circle"></ion-icon>
          </ion-button>
        </ion-item>
        <div *ngIf="eventsSelected" class="buttons-wrap">
          <ion-text>
            La ruta podrá incluir eventos de los tipos seleccionados
          </ion-text>
          <ion-item lines="none" (click)="eventsStyleSelected('cultura')">
            <ion-checkbox slot="start"></ion-checkbox>
            <ion-label>Cultural</ion-label>
          </ion-item>
          <ion-item lines="none" (click)="eventsStyleSelected('deporte')">
            <ion-checkbox slot="start"></ion-checkbox>
            <ion-label>Deporte</ion-label>
          </ion-item>
          <ion-item lines="none" (click)="eventsStyleSelected('ocio')">
            <ion-checkbox slot="start"></ion-checkbox>
            <ion-label>Ocio</ion-label>
          </ion-item>
          <ion-item lines="none" (click)="eventsStyleSelected('musica')">
            <ion-checkbox slot="start"></ion-checkbox>
            <ion-label>Música</ion-label>
          </ion-item>
          <ion-item lines="none" (click)="eventsStyleSelected('cine')">
            <ion-checkbox slot="start"></ion-checkbox>
            <ion-label>Cine</ion-label>
          </ion-item>
          <ion-item lines="none" (click)="eventsStyleSelected('gastronomia')"> 
            <ion-checkbox slot="start"></ion-checkbox>
            <ion-label>Gastronomía</ion-label>
          </ion-item>
          <ion-item lines="none" (click)="eventsStyleSelected('especial')">
            <ion-checkbox slot="start"></ion-checkbox>
            <ion-label>Especial</ion-label>
          </ion-item>
        </div>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <div class="button-wrapp animate__animated animate__fadeInUp">
    <ion-button
    class="continue-button animate__animated animate__fadeInUp"
    fill="outline"
    color="#71e7ff"

    (click)="checkSelected()"
    >
    Continuar
      <ion-icon slot="end" name="caret-forward-circle"></ion-icon>
    </ion-button>
  </div>
</ion-content>

<ion-popover trigger="click-access" triggerAction="click">
  <ng-template>
    <ion-content class="ion-padding">
      Si marcas esta opción, solo se eligirán puntos de interés que sean accesibles
    </ion-content>
  </ng-template>
</ion-popover>

<ion-popover trigger="click-eat" triggerAction="click">
  <ng-template>
    <ion-content class="ion-padding">Al seleccionar esta opción, se incluirá una parada en tu ruta para poder visitar el tipo restaurante de tu preferencia</ion-content>
  </ng-template>
</ion-popover>

<ion-popover trigger="click-event" triggerAction="click">
  <ng-template>
    <ion-content class="ion-padding">Al marcar esta opción, la ruta intentará incluirte los tipos de eventos que tú elijas</ion-content>
  </ng-template>
</ion-popover>

<ion-popover trigger="click-foodInfo" triggerAction="click">
  <ng-template>
    <ion-content class="ion-padding">Selecciona a partir de qué hora deseas comer.</ion-content>
  </ng-template>
</ion-popover>


<ion-modal [keepContentsMounted]="true">
  <ng-template>
    <ion-datetime 
    id="datetime"
    presentation="time"
    minuteValues="0,15,30,45"
    hourValues="8,9,10,11,12,13,14,15,16,17,18,19,20,21,22"
    (ionChange)="onHourChanged($event)"
    [showDefaultButtons]="true"
    cancelText="Cancelar"
    doneText="Confirmar"
    ></ion-datetime>  
  </ng-template>
</ion-modal>
